<div class="row mt-3">
    <div class=" col-md-10 card">
        <div class="card-head">
            <h1><a class="post-title" href="/post/{{post.id}}">{{post.name}}</a></h1>
            <h3 class="post-date">Posted by {{project.user.username}} on {{post.date}}</h3>
        </div>
        <div class="card-content-wrap"
        <p>{{post.content}}ContentContent</p>
    </div>
</div>
<div class="row mt-3">
    {{#if comments.length}}
    <div class="col-md-10">
        <h3>Comments</h3>
        {{#each comments as |comment|}}
        <a href="/post/{{post.id}}">
            <div class="row mb-2">
                <div class="col-md-8">
                    <h4>{{comment.user.username}}</h4>
                </div>
                <div class="col-md-4">
                    <h4>{{comment.date}}</h4>
                </div>
            </div>
        </a>
        {{/each}}
    </div>
    {{/if}}
</div>



