<div class="flex flex-row justify-center w-full my-6">
  <div class="card card-bordered border-primary bg-base-100 shadow-xl basis-1/1">
    <div class="bg-primary flex flex-row justify-between px-16 py-2 w-full text-secondary">
      <h2 class="card-title">{{name}}</h2>
      <h4>Posted by {{user.username}} on {{date}}</h4>
    </div>
    <div class="card-body">
      <p>{{content}}</p>
    </div>
  </div>
</div>

{{#if comments.length}}
<div class="flex flex-row justify-start ml-16 my-6">
    <h3 style="font-size: 22px;">Comments</h3>
</div>
    {{#each comments as |comment|}}
    <div class="flex flex-row justify-center w-full my-6">
        <div class="card card-bordered border-primary bg-base-100 shadow-xl basis-1/1">
            <div class="bg-primary flex flex-row justify-between px-16 py-2 w-full text-secondary">
                <h4>Posted by {{comment.username}} on {{comment.date}}</h4>
            </div>
            <div class="card-body">
                <p>{{comment.content}}</p>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{/if}}