<div class="row mt-3">
    <div class=" col-md-10 card">
        <div class="card-head">
            <h1>{{name}}</a></h1>
            <h3 class="post-date">Posted by {{user.username}} on {{date}}</h3>
        </div>
        <div class="card-content-wrap">
            <p>{{content}}</p>
        </div>
    </div>
</div>
<div class="row mt-3">
    {{#if comments.length}}
    <div class="col-md-10">
        <h3>Comments</h3>
        {{#each comments as |comment|}}
            <div class="row mb-2">
                <div class="col-md-8">
                    <h4>{{comment.username}}</h4>
                </div>
                <div class="col-md-4">
                    <h4>{{comment.date}}</h4>
                </div>
                <div class="col-md-10">
                    <h4>{{comment.content}}</h4>
                </div>
            </div>
        {{/each}}
    </div>
    {{/if}}
</div>



